.common {
	background:url('../images/headers/common.jpg') left top no-repeat
}
.communications {
	background:url('../images/headers/communications.jpg') left top no-repeat
}
.marketing {
	background:url('../images/headers/marketing.jpg') left top no-repeat
}
.internal-communications {
	background:url('../images/headers/internal-communications.jpg') left top no-repeat
}
.public-relations {
	background:url('../images/headers/public-relations.jpg') left top no-repeat
}
.mwcr {
	background:url('../images/headers/monthly-news-clip-reports.jpg') left top no-repeat
}
.contract {
	background:url('../images/headers/contract.jpg') left top no-repeat
}
.expert-control {
	background:url('../images/headers/expert-control.jpg') left top no-repeat
}
.facilites {
	background:url('../images/headers/facilites.jpg') left top no-repeat
}
.finance {
	background:url('../images/headers/finance.jpg') left top no-repeat
}
.human-resources {
	background:url('../images/headers/human-resources.jpg') left top no-repeat
}
.benefits {
	background:url('../images/headers/benefits.jpg') left top no-repeat
}
.code-of-business {
	background:url('../images/headers/code-of-business.jpg') left top no-repeat
}
.compensation-payroll-services {
	background:url('../images/headers/code-of-business.jpg') left top no-repeat
}
.rtm {
	background:url('../images/headers/rtm.jpg') left top no-repeat
}
.equal-employment {
	background:url('../images/headers/equal-employment.jpg') left top no-repeat
}
.performance-management {
	background:url('../images/headers/performance-management.jpg') left top no-repeat
}
.staffing-services {
	background:url('../images/headers/staffing-services-banner.jpg') left top no-repeat
}
.learn-dev {
	background:url('../images/headers/learn-dev.jpg') left top no-repeat
}
.leadership {
	background:url('../images/headers/leadership.jpg') left top no-repeat
}
.information-technology {
	background:url('../images/headers/information-technology.jpg') left top no-repeat
}
.faq {
	background:url('../images/headers/faq.jpg') left top no-repeat
}
.it-services {
	background:url('../images/headers/it-services.jpg') left top no-repeat
}
.security {
	background:url('../images/headers/security.jpg') left top no-repeat
}
.birmingham-campus {
	background:url('../images/headers/birmingham-campus.jpg') left top no-repeat
}
.birmingham-erc {
	background:url('../images/headers/birmingham-erc.jpg') left top no-repeat
}
.huntsville {
	background:url('../images/headers/huntsville.jpg') left top no-repeat
}
.about-employee {
	background:url('../images/headers/about-employee.jpg') left top no-repeat
}
.credti-union {
	background:url('../images/headers/credti-union.jpg') left top no-repeat
}
.employee-activaties {
	background:url('../images/headers/employee-activaties.jpg') left top no-repeat
}
.news {
	background:url('../images/headers/news.jpg') left top no-repeat
}
.announcements {
	background:url('../images/headers/announcements.jpg') left top no-repeat
}
.events {
	background:url('../images/headers/events.jpg') left top no-repeat
}
