/* camera.scss
=========================================================*/
/*==================     Fonts    ======================*/
/*==================     Text colors     ======================*/
/*================   Custom Layout&Styles   =====================*/
.camera_next:hover:before,
.camera_prev:hover:before {
  color: #FEBD00;
}

/* google-map.scss
=========================================================*/
/* mailform.scss
=========================================================*/
/*==================     Fonts    ======================*/
/*==================     Text colors     ======================*/
@-ms-keyframes fout {
  0% {
    transform: scale(1) translateX(0);
  }
  100% {
    transform: scale(0) translateX(0);
  }
}
@-o-keyframes fout {
  0% {
    transform: scale(1) translateX(0);
  }
  100% {
    transform: scale(0) translateX(0);
  }
}
@-webkit-keyframes fout {
  0% {
    transform: scale(1) translateX(0);
  }
  100% {
    transform: scale(0) translateX(0);
  }
}
@-moz-keyframes fout {
  0% {
    transform: scale(1) translateX(0);
  }
  100% {
    transform: scale(0) translateX(0);
  }
}
@keyframes fout {
  0% {
    transform: scale(1) translateX(0);
  }
  100% {
    transform: scale(0) translateX(0);
  }
}
/* Mail Form PlaceHolder
========================================================*/
.mfPlaceHolder {
  font: inherit;
  cursor: text;
  position: absolute;
  left: 0;
  top: 0;
  padding: 10.5px 17px;
  line-height: 20px;
  color: #737373;
  opacity: 1;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
*:-webkit-autofill ~ .mfPlaceHolder {
  opacity: .0;
  -moz-transform: translateY(-33%) scale(0.8);
  -ms-transform: translateY(-33%) scale(0.8);
  -o-transform: translateY(-33%) scale(0.8);
  -webkit-transform: translateY(-33%) scale(0.8);
  transform: translateY(-33%) scale(0.8);
}
.mfPlaceHolder.state-1 {
  opacity: .0;
  -moz-transform: translateY(-33%) scale(0.8);
  -ms-transform: translateY(-33%) scale(0.8);
  -o-transform: translateY(-33%) scale(0.8);
  -webkit-transform: translateY(-33%) scale(0.8);
  transform: translateY(-33%) scale(0.8);
}

/* Mail Form Validation
  ========================================================*/
.mfValidation {
  -moz-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  -o-transform-origin: 0% 50%;
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: absolute;
  top: -3px;
  right: 1%;
  width: 210px;
  margin-top: -20px;
  margin-left: 10px;
  padding: 4px 10px;
  height: 20px;
  font-weight: 300;
  font-size: 12px;
  line-height: 12px;
  background: #111;
  color: #FFF;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  z-index: 998;
}
.mfValidation:hover {
  background: #231634;
}
.mfValidation:before {
  content: '';
  position: absolute;
  right: 90%;
  top: 108%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 4px 0 4px;
  border-color: #111 transparent transparent transparent;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.mfValidation:hover:before {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 4px 0 4px;
  border-color: #231634 transparent transparent transparent;
}
.mfValidation.show {
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  visibility: visible;
  -webkit-animation: notifanim 0.4s cubic-bezier(0.55, 0, 0.1, 1) forwards;
  -moz-animation: notifanim 0.4s cubic-bezier(0.55, 0, 0.1, 1) forwards;
  -ms-animation: notifanim 0.4s cubic-bezier(0.55, 0, 0.1, 1) forwards;
  -o-animation: notifanim 0.4s cubic-bezier(0.55, 0, 0.1, 1) forwards;
  animation: notifanim 0.4s cubic-bezier(0.55, 0, 0.1, 1) forwards;
}
.mfValidation.hide {
  -webkit-animation: notifanim-fo 0.4s cubic-bezier(0.55, 0, 0.1, 1) forwards;
  -moz-animation: notifanim-fo 0.4s cubic-bezier(0.55, 0, 0.1, 1) forwards;
  -ms-animation: notifanim-fo 0.4s cubic-bezier(0.55, 0, 0.1, 1) forwards;
  -o-animation: notifanim-fo 0.4s cubic-bezier(0.55, 0, 0.1, 1) forwards;
  animation: notifanim-fo 0.4s cubic-bezier(0.55, 0, 0.1, 1) forwards;
}
.mfValidation.valid {
  opacity: 0;
  visibility: hidden;
}
@media (max-width: 767px) {
  .mfValidation {
    text-align: right;
    top: 0;
    left: auto;
    right: 1%;
    background: none;
    padding: 0;
    margin: 0 0 3px;
    min-height: 0;
    color: #DB0800;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .mfValidation:before {
    display: none;
  }
  .mfValidation:hover {
    background: none;
    right: 5px;
  }
}

@-ms-keyframes notifanim-fo {
  0% {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
  20% {
    opacity: 1;
    transform: scale(1.1);
  }
  99% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
    transform: scale(0.3);
    opacity: 0;
  }
}
@-o-keyframes notifanim-fo {
  0% {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
  20% {
    opacity: 1;
    transform: scale(1.1);
  }
  99% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
    transform: scale(0.3);
    opacity: 0;
  }
}
@-webkit-keyframes notifanim-fo {
  0% {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
  20% {
    opacity: 1;
    transform: scale(1.1);
  }
  99% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
    transform: scale(0.3);
    opacity: 0;
  }
}
@-moz-keyframes notifanim-fo {
  0% {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
  20% {
    opacity: 1;
    transform: scale(1.1);
  }
  99% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
    transform: scale(0.3);
    opacity: 0;
  }
}
@keyframes notifanim-fo {
  0% {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
  20% {
    opacity: 1;
    transform: scale(1.1);
  }
  99% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
    transform: scale(0.3);
    opacity: 0;
  }
}
@-ms-keyframes notifanim {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: scale(0.3);
  }
  1% {
    visibility: visible;
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@-o-keyframes notifanim {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: scale(0.3);
  }
  1% {
    visibility: visible;
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes notifanim {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: scale(0.3);
  }
  1% {
    visibility: visible;
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@-moz-keyframes notifanim {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: scale(0.3);
  }
  1% {
    visibility: visible;
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes notifanim {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: scale(0.3);
  }
  1% {
    visibility: visible;
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
/* MF Controls
========================================================*/
.mfControls {
  margin-top: 30px;
  word-spacing: 10px;
  text-align: right;
}
.mfControls .req {
  line-height: 47px;
}
.mfControls .req + .btn {
  margin-top: 0;
  margin-left: 18px;
}
@media (max-width: 991px) {
  .mfControls {
    text-align: center;
  }
}
.mfControls > * {
  word-spacing: normal;
  margin-bottom: 5px;
  font-family: "Roboto", sans-serif;
}

/* Mail Form Submit
========================================================*/
.mfProgress {
  position: relative;
}
.mfProgress .cnt, .mfProgress .loader {
  -moz-transition: 0.4s all ease-in-out;
  -o-transition: 0.4s all ease-in-out;
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
}
.mfProgress .loader {
  opacity: 0;
  text-align: center;
  letter-spacing: 10px;
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.mfProgress .loader, .mfProgress .loader:before, .mfProgress .loader:after {
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  margin: auto;
}
.mfProgress .loader:before {
  content: '';
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
}
.mfProgress .loader:after {
  content: '';
  width: 30px;
  height: 30px;
  color: #fff;
  font: 400 30px "FontAwesome";
  line-height: inherit;
  -moz-transition: 0.4s all ease-in-out;
  -o-transition: 0.4s all ease-in-out;
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
  -moz-transform: scale(0) rotate(-60deg);
  -ms-transform: scale(0) rotate(-60deg);
  -o-transform: scale(0) rotate(-60deg);
  -webkit-transform: scale(0) rotate(-60deg);
  transform: scale(0) rotate(-60deg);
}

.mfProgress .msg {
  -moz-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  -o-transform-origin: 0% 50%;
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  -webkit-animation: notifanim-fo 0.4s ease-in-out forwards;
  -moz-animation: notifanim-fo 0.4s ease-in-out forwards;
  -ms-animation: notifanim-fo 0.4s ease-in-out forwards;
  -o-animation: notifanim-fo 0.4s ease-in-out forwards;
  animation: notifanim-fo 0.4s ease-in-out forwards;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.5);
  position: absolute;
  padding: 10px;
  border-radius: 0;
  font-size: 14px;
  line-height: 20px;
  opacity: 0;
  visibility: hidden;
  top: 100%;
  left: 50%;
  width: 230px;
  margin-left: -115px;
  margin-top: 20px;
  color: #fff;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}
.mfProgress .msg:before {
  content: '';
  position: absolute;
  bottom: 100%;
  right: 50%;
  transform: translate(50%, 0%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 6px 6px 6px;
  border-color: transparent transparent #111 transparent;
  -moz-transition: 0.4s all ease-in-out;
  -o-transition: 0.4s all ease-in-out;
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
}
.mfProgress.fail .msg, .mfProgress.success .msg {
  transform: scale(1);
  opacity: 1;
  visibility: visible;
  -webkit-animation: notifanim 0.4s ease-in-out forwards;
  -moz-animation: notifanim 0.4s ease-in-out forwards;
  -ms-animation: notifanim 0.4s ease-in-out forwards;
  -o-animation: notifanim 0.4s ease-in-out forwards;
  animation: notifanim 0.4s ease-in-out forwards;
}
.mfProgress.fail .msg {
  background: #F44336;
}
.mfProgress.fail .msg:before {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 6px 6px 6px;
  border-color: transparent transparent #F44336 transparent;
}
.mfProgress.success .msg {
  background: #2E7D32;
}
.mfProgress.success .msg:before {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 6px 6px 6px;
  border-color: transparent transparent #2E7D32 transparent;
}

@-ms-keyframes motion {
  0% {
    transform: translateX(0) scale(1);
  }
  25% {
    transform: translateX(-50px) scale(0.3);
  }
  50% {
    transform: translateX(0) scale(1);
  }
  75% {
    transform: translateX(50px) scale(0.3);
  }
  100% {
    transform: translateX(0) scale(1);
  }
}
@-o-keyframes motion {
  0% {
    transform: translateX(0) scale(1);
  }
  25% {
    transform: translateX(-50px) scale(0.3);
  }
  50% {
    transform: translateX(0) scale(1);
  }
  75% {
    transform: translateX(50px) scale(0.3);
  }
  100% {
    transform: translateX(0) scale(1);
  }
}
@-webkit-keyframes motion {
  0% {
    transform: translateX(0) scale(1);
  }
  25% {
    transform: translateX(-50px) scale(0.3);
  }
  50% {
    transform: translateX(0) scale(1);
  }
  75% {
    transform: translateX(50px) scale(0.3);
  }
  100% {
    transform: translateX(0) scale(1);
  }
}
@-moz-keyframes motion {
  0% {
    transform: translateX(0) scale(1);
  }
  25% {
    transform: translateX(-50px) scale(0.3);
  }
  50% {
    transform: translateX(0) scale(1);
  }
  75% {
    transform: translateX(50px) scale(0.3);
  }
  100% {
    transform: translateX(0) scale(1);
  }
}
@keyframes motion {
  0% {
    transform: translateX(0) scale(1);
  }
  25% {
    transform: translateX(-50px) scale(0.3);
  }
  50% {
    transform: translateX(0) scale(1);
  }
  75% {
    transform: translateX(50px) scale(0.3);
  }
  100% {
    transform: translateX(0) scale(1);
  }
}
/* search.scss
=========================================================*/
/*==================     Fonts    ======================*/
/*==================     Text colors     ======================*/
.search-form_submit:hover {
  color: #FEBD00;
}

.search-form_toggle:hover {
  color: #4BAF4F;
}

.search-form_liveout .search_link .search_title {
  color: #FEBD00;
}
.search-form_liveout .search_link:hover {
  background: #FEBD00;
  color: #fff2cb;
}
.search-form_liveout .search_error {
  color: #FEBD00;
}
.search-form_liveout button {
  color: #FEBD00;
}
.search-form_liveout button:hover {
  background: #FEBD00;
}

/* style.scss
=========================================================*/
/*==================     Fonts    ======================*/
/*==================     Text colors     ======================*/
p a:hover, .marked-list a:hover, .list a:hover {
  color: #FEBD00;
}

.brand_name {
  color: #fff;
}

.bg-primary {
  background: #FEBD00;
}

.bg-secondary {
  background: #4BAF4F;
}

.bg-secondary2 {
  background: #01BBD4;
}

.bg-secondary3 {
  background: #F44236;
}

.clr-primary {
  color: #FEBD00;
}

.clr-secondary {
  color: #4BAF4F;
}

.clr-secondary2 {
  color: #01BBD4;
}

.clr-secondary3 {
  color: #F44236;
}

.clr-white {
  color: #fff;
}

.btn-primary {
  border: 1px solid #FEBD00;
  color: #fff;
}
.btn-primary:before {
  background: #FEBD00;
}
.btn-primary:hover {
  color: #FEBD00;
}

.btn-secondary3 {
  border: 1px solid #F44236;
  color: #fff;
}
.btn-secondary3:before {
  background: #F44236;
}
.btn-secondary3:hover {
  color: #F44236;
}

.btn-dark {
  color: #fff;
}

.btn-link {
  color: #4BAF4F;
}
.btn-link:hover {
  color: #FEBD00;
}
.btn-link:hover:after {
  background: #FEBD00;
}

.thumbnail .img-thumbnail div a {
  color: #fff;
}
.thumbnail .img-thumbnail div a span:after {
  background: #fff;
}
.thumbnail .img-thumbnail:hover div.bg-primary {
  background: rgba(254, 189, 0, 0.5);
}
.thumbnail .img-thumbnail:hover div.bg-secondary {
  background: rgba(75, 175, 79, 0.5);
}
.thumbnail .img-thumbnail:hover div.bg-secondary2 {
  background: rgba(1, 187, 212, 0.5);
}
.thumbnail .img-thumbnail:hover div.bg-secondary3 {
  background: rgba(244, 66, 54, 0.5);
}

.thumbnail-1 .caption h4 {
  color: #F44236;
}

article.box time {
  color: #FEBD00;
}
article.box time + * {
  color: #FEBD00;
}

.marked-list li a:before {
  color: #FEBD00;
}
.marked-list li a:hover:before {
  color: #F44236;
}

.index-list li h5 {
  color: #FEBD00;
}
.index-list li:before {
  background: #FEBD00;
}
.index-list li:nth-child(1):before, .index-list li:nth-child(4):before {
  background: #4BAF4F;
}
.index-list li:nth-child(3):before, .index-list li:nth-child(6):before {
  background: #01BBD4;
}

.index-list li:after {
  color: #fff;
}

.terms-list + * a {
  color: #FEBD00;
}

.service-list li h5 {
  color: #FEBD00;
}
.service-list li:before {
  background: #4BAF4F;
}
.service-list li:after {
  color: #fff;
}

.contact-info a[href^="mailto:"]:hover {
  color: #fff;
}
.contact-info__mod a[href^="mailto:"] {
  color: #FEBD00;
}
.contact-info__mod a[href^="mailto:"]:hover {
  color: #4BAF4F;
}

header {
  background: #FEBD00;
}

footer h3 {
  color: #fff;
}

.sf-menu ul {
  background: #fff;
}

.sf-menu ul > li a.sub-menu:after {
  color: #FEBD00;
}
.sf-menu ul > li.sfHover > a, .sf-menu ul > li > a:hover {
  background: #FEBD00;
}
.sf-menu ul > li.sfHover > a:after, .sf-menu ul > li > a:hover:after {
  color: #fff;
}

.isStuck {
  background: #FEBD00;
}

.toTop {
  background: #FEBD00;
}

.accordion_header {
  color: #FEBD00;
}

.ui-state-default:after {
  color: #FEBD00;
}
.ui-state-default:hover:before {
  border: 19px solid #FEBD00;
}
.ui-state-default:hover:after {
  color: #fff;
}

.ui-state-active:after {
  color: #FEBD00;
}

.resp-tabs-list li.resp-tab-active {
  background: #fff;
  color: #FEBD00;
}
.resp-tabs-list li.resp-tab-active:after {
  background: #fff;
}
.resp-tabs-list li:hover {
  box-shadow: inset 0 0 15px #FEBD00;
  border: 1px solid rgba(254, 189, 0, 0.5);
}

@media (max-width: 767px) {
  .resp-accordion:hover {
    box-shadow: inset 0 0 15px #FEBD00;
    border: 1px solid rgba(254, 189, 0, 0.5);
  }

  .resp-tab-active {
    background: #fff;
    color: #FEBD00;
  }
  .resp-tab-active:after {
    background: #fff;
  }
}
.progress-wrap .progress-bar__primary {
  background: #FEBD00;
}
.progress-wrap .progress-bar__secondary {
  background: #4BAF4F;
}
.progress-wrap .progress-bar__secondary2 {
  background: #01BBD4;
}
.progress-wrap .progress-bar__secondary3 {
  background: #F44236;
}

/* touch-touch.scss
=========================================================*/
/* The before element moves the
 * image halfway from the top */
@-moz-keyframes rightSpring {}
@-moz-keyframes leftSpring {}
@-webkit-keyframes rightSpring {}
@-webkit-keyframes leftSpring {}
